<div class="headBg"></div>


<section id="mixIt" class="row text-center">
	<blockquote class="lead">¡Encuentra un <strong>hogar</strong>, rápida y fácilmente!</blockquote class="lead">
	<nav id="mixBtns" class="row text-center">
		<div class="btn btn-primary filter" data-filter="all">Todos</div>
		<div class="btn btn-success filter" data-filter=".alquiler">Alquiler</div>
		<div class="btn btn-success filter" data-filter=".venta">Venta</div>
	</nav>

	<article class="mix alquiler" data-toggle="modal" data-target="#myModalContent">
			<figure>
				<img class="img-responsive" src="http://lorempixel.com/200/200/city/1" alt=""/>
			</figure>
		<hgroup>
			<h4>Alquiler: 250<small>€</small></h4>
			<div>
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-resize-full"></span> 80m<small>2</small></h6>	
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-map-marker"></span> Madrid</h6>
			</div>	
		</hgroup>
	</article>

	<article class="mix venta" data-toggle="modal" data-target="#myModalContent">
			<figure>
				<img class="img-responsive" src="http://lorempixel.com/200/200/city/2" alt=""/>
			</figure>
		<hgroup>
			<h4>Venta: 250.000<small>€</small></h4>
			<div>
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-resize-full"></span> 80m<small>2</small></h6>	
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-map-marker"></span> Madrid</h6>
			</div>	
		</hgroup>
	</article>

	<article class="mix alquiler" data-toggle="modal" data-target="#myModalContent">
			<figure>
				<img class="img-responsive" src="http://lorempixel.com/200/200/city/3" alt=""/>
			</figure>
		<hgroup>
			<h4>Alquiler: 500<small>€</small></h4>
			<div>
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-resize-full"></span> 160m<small>2</small></h6>	
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-map-marker"></span> Cuenca</h6>
			</div>	
		</hgroup>
	</article>

	<article class="mix venta" data-toggle="modal" data-target="#myModalContent">
			<figure>
				<img class="img-responsive" src="http://lorempixel.com/200/200/city/4" alt=""/>
			</figure>
		<hgroup>
			<h4>Venta: 350.000<small>€</small></h4>
			<div>
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-resize-full"></span> 80m<small>2</small></h6>	
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-map-marker"></span> Valencia</h6>
			</div>	
		</hgroup>
	</article>

	<article class="mix alquiler" data-toggle="modal" data-target="#myModalContent">
			<figure>
				<img class="img-responsive" src="http://lorempixel.com/200/200/city/5" alt=""/>
			</figure>
		<hgroup>
			<h4>Alquiler: 850<small>€</small></h4>
			<div>
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-resize-full"></span> 100m<small>2</small></h6>	
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-map-marker"></span> A Coruña</h6>
			</div>	
		</hgroup>
	</article>

	<article class="mix venta" data-toggle="modal" data-target="#myModalContent">
			<figure>
				<img class="img-responsive" src="http://lorempixel.com/200/200/city/6" alt=""/>
			</figure>
		<hgroup>
			<h4>Venta: 150.000<small>€</small></h4>
			<div>
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-resize-full"></span> 40m<small>2</small></h6>	
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-map-marker"></span> Burgos</h6>
			</div>	
		</hgroup>
	</article>

	<article class="mix alquiler" data-toggle="modal" data-target="#myModalContent">
			<figure>
				<img class="img-responsive" src="http://lorempixel.com/200/200/city/7" alt=""/>
			</figure>
		<hgroup>
			<h4>Alquiler: 390<small>€</small></h4>
			<div>
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-resize-full"></span> 80m<small>2</small></h6>	
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-map-marker"></span> Madrid</h6>
			</div>	
		</hgroup>
	</article>

	<article class="mix venta" data-toggle="modal" data-target="#myModalContent">
			<figure>
				<img class="img-responsive" src="http://lorempixel.com/200/200/city/8" alt=""/>
			</figure>
		<hgroup>
			<h4>Venta: 200.000<small>€</small></h4>
			<div>
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-resize-full"></span> 80m<small>2</small></h6>	
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-map-marker"></span> Madrid</h6>
			</div>	
		</hgroup>
	</article>

	<article class="mix alquiler" data-toggle="modal" data-target="#myModalContent">
			<figure>
				<img class="img-responsive" src="http://lorempixel.com/200/200/city/9" alt=""/>
			</figure>
		<hgroup>
			<h4>Alquiler: 250<small>€</small></h4>
			<div>
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-resize-full"></span> 80m<small>2</small></h6>	
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-map-marker"></span> Madrid</h6>
			</div>	
		</hgroup>
	</article>

	<article class="mix venta" data-toggle="modal" data-target="#myModalContent">
			<figure>
				<img class="img-responsive" src="http://lorempixel.com/200/200/city/2" alt=""/>
			</figure>
		<hgroup>
			<h4>Venta: 250.000<small>€</small></h4>
			<div>
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-resize-full"></span> 80m<small>2</small></h6>	
				<h6 class="col-xs-6"><span class="glyphicon glyphicon-map-marker"></span> Madrid</h6>
			</div>	
		</hgroup>
	</article>

</section>

<!-- Ventana modal o ficha --> 

<div class="modal fade" id="myModalContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <img src="" alt=""/>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>